.x-axis-label, .axis, .y, .x{
    fill: #ffffff;
    padding: 10px;
}

.dc-chart .axis line, .dc-chart .axis path{
    stroke: #fff;
}


.section{
    border-bottom: 1px solid #fafafa;
    padding: 30px 0;
}
