/*------------------General Styles-----------*/

.set-background {
    background-color: #888;
    background-image: url("../images/StarWarsWp.png");
    background-position: center center;
}

.set-min-height {
    min-height: calc(100vh - 141px);
}

.content-wrapper {
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    margin: 12.5px 0;
    text-align: center;
}


.heading-h3 {
    margin: 0 auto;
    color: #141414;
}

hr {
    margin: 15px auto 15px;
    border-color: #888;
}

p {
    color: #000;
    padding: 0 5px;
}


.eq-column-height {
    display: flex;
    flex-wrap: wrap;
}

.row [class*=col-]{
    margin:0 -.3px;
}

.inline-link {
    color: #bf0d1c;
    transition: all .2s ease-in-out
}

.inline-link:focus,
.inline-link:hover {
    color: #bf0d1c;
    opacity: 0.7;
    text-decoration: none;
}

.dropdown-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.intro{
    font-size: 10px;
}

/*----------------Colours----------*/

.pink{
    color: pink;
}

.blue{
    color: blue;
}

.green{
    color: greenyellow;
}




/*------------Footer-----------*/



.footer {
    min-height: 50px;
    margin-top: 12.5px;
    background-color: black;
    color: white;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 8px;
}

.kaggle-logo {
    height: 1.25em;
}

.kaggle-logo:focus,
.kaggle-logo:hover {
    opacity: 0.8;
}


.github-logo {
    color: blue;
    font-size: 2em;
    padding: 8px 0;
    transition: all .2s ease-in-out
}

.github-logo:focus,
.github-logo:hover {
    color: #e5462d;