.pie-slice{
    color: #fff;
}

 .dc-chart .axis line, .dc-chart .axis path .{
    stroke: #fff;
}

.section{
    border-bottom: 1px solid #fafafa;
    padding: 30px 0;
}

html body {
    overflow-x: hidden;
    
}

.modal-button{
    
}